.detailTabs {
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
}

.previewContent {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);
  flex: 1;
  min-width: 0;
  min-height: 0;
}
